* {
    box-sizing: border-box;
}

li,
ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
ul,
li {
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    border: none;
    padding-left: 0;
    margin: 0;
}

body,
button,
a {
    color: white;
    font-family: 'Arial';

}
html{
    font-size: 7px;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    overscroll-behavior: none;
}

.contains {
    width: 100%;
    height: 100%;
    /* background-color: rgb(156, 84, 224); */
}

.start_menu {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(156, 84, 224);
}

.menu_container {
    width: 90%;
    height: 90%;
    border-radius: 1.2rem;
    padding: 1.6rem;
    background-color: rgb(255, 255, 255);
}

.start_header {
    position: relative;
    display: flex;
    gap: .8rem;
    top: -3.2rem;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.start_title {
    background-color: rgb(84, 77, 179);
    padding: .6rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 .6rem .3rem 0 rgb(32, 30, 68);
    height: 5.5rem;
    width: 70%;
    display: flex;
    align-items: center;
}

.start_settings-button {
    height: 5.5rem;
    width: 5.5rem;
    padding: .7rem;
    border-radius: 1rem;
    background-color: rgb(147, 144, 189);
    background: linear-gradient(rgb(124, 121, 163), rgb(86, 80, 170));
    box-shadow: 0 .6rem .3rem 0 rgb(32, 30, 68);
}

.imag_setting {
    font-size: 0;
    border: 1px solid gray;
    border-radius: 1rem;
    padding: .4rem;
    box-shadow: inset 0 0 .6rem 1px rgb(32, 30, 68);
}

.img_setting {
    width: 100%;
    height: 100%;
}

.choise_background {
    position: relative;
    top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.game_list {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2em;

}

.game_item {
    display: block;
    position: relative;
    width: 20em;
    height: 18em;
    border-radius: 1.2rem;
    background-image: url('/img/belosnegka.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.choise_item {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    height: 2.6rem;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}



/* .menuItems{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(156, 84, 224);
    display: flex;
    display: none;

    flex: 1;
    align-items: center;
    justify-content: center;
} */
/* .menu{
    border-radius: 20px;
    padding: 20px;
    border: 4px solid rgb(82, 216, 82);

} */