* {
    box-sizing: border-box;
}

li,
ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
ul,
li {
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    border: none;
    padding-left: 0;
    margin: 0;
}

body,
button,
a {
    color: white;
    font-family: 'Arial';

}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    overscroll-behavior: none;
}

.contains {
    width: 100%;
    height: 100%;
    /* background-color: rgb(156, 84, 224); */
}

.start_menu,
.check_sloshnost {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(156, 84, 224);
}

.menu_container,
.check_sloshnost-content {
    width: 90%;
    height: 90%;
    border-radius: 1.2rem;
    padding: 1.6rem;
    background-color: rgb(255, 255, 255);
}

.start_header,
.setting_header,
.check_header {
    position: relative;
    display: flex;
    gap: .8rem;
    top: -3.2rem;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.start_title,
.setting_title ,
.check_title{
    background-color: rgb(84, 77, 179);
    padding: .6rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 .6rem .3rem 0 rgb(32, 30, 68);
    height: 5.5rem;
    width: 70%;
    display: flex;
    align-items: center;
}

.start_settings-button,
.setting_button-close,
.check_button-prev {
    cursor: pointer;
    height: 5.5rem;
    width: 5.5rem;
    padding: .7rem;
    border-radius: 1rem;
    background: linear-gradient(rgb(124, 121, 163), rgb(86, 80, 170));
    box-shadow: 0 .6rem .3rem 0 rgb(32, 30, 68);
}
.start_settings-button:hover{
    box-shadow: 0 .3rem .3rem 0 rgb(32, 30, 68);
    transform: translateY(3px);

}
.setting_button-close:hover,
.check_button-prev:hover{
    box-shadow: 0 .3rem .3rem 0 rgb(156, 78, 167);
    transform: translateY(3px);
}
.imag_setting {
    font-size: 0;
    border: 1px solid gray;
    border-radius: 1rem;
    padding: .4rem;
    box-shadow: inset 0 0 .6rem 1px rgb(32, 30, 68);
}

.img_setting,
.img_close,
.img_arrow {
    width: 100%;
    height: 100%;
}

.choise_background,
.check_background {
    position: relative;
    top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.game_list,
.check_list {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2em;

}

.game_item,
.check_item {
    display: block;
    position: relative;
    width: 20em;
    height: 18em;
    border-radius: 1.2rem;
    background-image: url('/img/belosnegka.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.choise_item{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    height: 2.6rem;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_settings {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.modal_settings-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.modal_settings-content {
    width: 80%;
    height: 80%;
    background-color: white;
    z-index: 10;
    border-radius: 1.2rem;
    padding: 1.6rem;
}

.setting_button-close {

    background: linear-gradient(rgb(162, 121, 163), rgb(192, 74, 192));
    box-shadow: 0 .6rem .3rem 0 rgb(57, 30, 68);
}

.imag_close {
    font-size: 0;
    padding: .4rem;
}

.setting_body {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.setting_item {
    display: flex;
    align-items: center;
}
.setting_name{
    width: 9rem;
    font-size: 2rem;
    line-height: .1rem;
}
.music_input {
    display: none;
}
.music_input:checked ~ .music_check{
    background-color: chartreuse;
    justify-content: end;
}

.music_check {
    display: flex;
    justify-content: start;
    width: 4rem;
    height: 2rem;
    border: .3rem solid white;
    box-shadow: 2px 1px 5px 1px gray,
        inset 1px 1px 2px 1px rgb(202, 200, 200);
    border-radius: 1rem;
    background-color: blanchedalmond;
    cursor: pointer;
}

.check_roll {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: blueviolet;
    box-shadow: inset 0 0 1px 3px rgb(175, 81, 179);
}
.check_item{
    border: .3rem solid gray;
}
.check_level_item{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    height: 2.6rem;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .menuItems{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(156, 84, 224);
    display: flex;
    display: none;

    flex: 1;
    align-items: center;
    justify-content: center;
} */
/* .menu{
    border-radius: 20px;
    padding: 20px;
    border: 4px solid rgb(82, 216, 82);

} */


.open{
    display: flex;
}
.close{
    display: none;
}